
h2{
  color: red;
  text-align: center;
  position: relative;
  bottom: 80px;
  left: 450px;
}
body{
  background-color: pink;

}

/* OrphanageList.css */

.orphanage-list-container {
  border: 1px solid #ccc;
  /* Add a border around the container */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

}

th, td {
  border: 4px solid #ddd;
  padding: 8px;
  text-align: left;

}

th {
  background-color: #f2f2f2;
  
}
.box{
  display: flex;
  justify-content: center;
  position: relative;
  left: 250px;
}


